<h2><%= @list.name %></h2>

<% @list.movies.each do |movie| %>
<% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <div class="card-product">
    <img src="<%= movie.poster_url %>" />
    <div class="card-product-infos">
      <h2><%= movie.title %></h2>
      <p>Summary: <%= truncate(movie.overview, length: 60, separator: ' ') %></p>
      <p>Rating: <%= 'â­' * movie.rating %></p>
      <p>My comments: <%= bookmark.comment %></p>
    </div>
  </div>
  <br>
<% end %>

<p><%= link_to 'New bookmark', new_list_bookmark_path(@list) %> | <%= link_to 'Back to Movie Lists', lists_path %></p>
